/WarlockDataTypes/bin
/WarlockDataTypes/obj
/Warlock/Warlock/bin
/Warlock/Warlock/obj
/Warlock/WarlockContent/bin
/Warlock/WarlockContent/obj
*.dll
*.pdb
*.user
Warlock/Warlock/Warlock.csproj.Debug.cachefile